<div class="body-full-container">

  <!--  Card de FILTRO -->
  <div class="col-12 bd-highlight p-2">
    <div class="card p-1">
      <h6 _ngcontent-ntv-c215="" class="card-title tx-14 mb-3"> {{'FILTERS' | translateMessage:translateCategory}} </h6>
      <form [formGroup]="formFilter">

        <div class="row">

          <div class="col-2 row no-gutters">
            <mat-form-field class="w-100">
              <mat-label>{{'SUMMARY_BY' | translateMessage:translateCategory}}</mat-label>
              <mat-select formControlName="typeSummaryVoyage">

                <ng-template ngFor let-itypeSummaryVoyageList [ngForOf]="typeSummaryVoyageList" let-i="index">
                  <mat-option value="{{itypeSummaryVoyageList}}">{{itypeSummaryVoyageList |
                    translateMessage:translateCategory}}
                  </mat-option>
                </ng-template>

              </mat-select>
              <mat-error *ngIf="errorHandling('typeSummaryVoyage', 'required')">
                Role is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <ng-template [ngIf]="roleUser == 'ADMIN' || roleUser == 'SUPPORT' || roleUser == 'OWNER' ">

            <div class="col-2 row no-gutters">
              <mat-form-field class="w-100">

                <mat-label>{{'SELECT_BUQUE' | translateMessage:translateCategory}}</mat-label>
                <mat-select formControlName="selectUserId">
                  <ng-template ngFor let-iUser [ngForOf]="getUsers" let-i="index">
                    <mat-option [value]="iUser.id" (click)="SelectComboBuque(iUser.id)">
                      {{ iUser.name}}
                    </mat-option>
                  </ng-template>
                </mat-select>

                <mat-error *ngIf="errorHandling('selectUserId', 'required')">
                  Select user is <strong>required</strong>
                </mat-error>

              </mat-form-field>
            </div>

            <div class="col-2 row no-gutters">
              <mat-form-field class="w-100">
                <mat-label>{{'YEARS' | translateMessage:translateCategory}}</mat-label>
                <mat-select formControlName="selectedYears" multiple>
                  <mat-option *ngFor="let yearUser of yearsOfUsers" [value]="yearUser" (click)="SelectComboYears()">
                    {{ yearUser }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </ng-template>



          <div class="col-4 row no-gutters">
            <div class="col-6 row no-gutters">

            <mat-form-field class="w-100">
              <mat-label>{{'START_DATE' | translateMessage:translateCategory}}</mat-label>
              <input matInput type="datetime" placeholder="{{'START_DATE' | translateMessage:translateCategory}}"
                formControlName="startDate">
              <mat-error *ngIf="errorHandling('startDate', 'required')">
                Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>


          <div class="col-6 row no-gutters">

            <mat-form-field class="w-100">
              <mat-label>{{'END_DATE' | translateMessage:translateCategory}}</mat-label>
              <input matInput type="datetime" placeholder="{{'END_DATE' | translateMessage:translateCategory}}"
                formControlName="endDate">
              <mat-error *ngIf="errorHandling('endDate', 'required')">
                Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div> 
      </div>


          <div class="col-2 row no-gutters">
            <div class="col-6 row no-gutters">
              <button mat-raised-button color="primary" (click)="ClickButtonTest()">
                {{ 'FILTER_BY' | translateMessage:translateCategory }}
              </button>
            </div>
            <div class="col-6 row no-gutters">
              <button mat-raised-button color="secondary" (click)="ClickClear()">
                {{ 'CLEAR' | translateMessage:translateCategory }}
              </button>
            </div>
          </div>
        </div>
      </form>

      <mat-slide-toggle [(ngModel)]="isDailyFormule">

        {{"APPLY_DAILY_FORMULA" | translateMessage:translateCategory}}

      </mat-slide-toggle>
    </div>
  </div>



  <div class="d-flex p-1">
    <div class="col-12 bd-highlight p-1">
      <div class="card card-body p-2 background-content-linea" id="picture1">

        <canvas id="myChart"></canvas>

      </div>
    </div>
  </div>

  
  <div class="d-flex p-1">
    <div class="col-12 bd-highlight p-1">
      <div class="card card-body p-2 background-content-linea" id="picture2">

        <canvas id="myChartMGO"></canvas>

      </div>
    </div>
  </div>
</div>