<h1 mat-dialog-title class="text-{{data.color||'success'}} text-center">{{data.title}}</h1>
<p class="text-center color-gris">{{data.mensage}}</p>

<div mat-dialog-content>
  <ng-template [ngIf]="!!data.icon">
    <p class="text-center">
      <span class="{{data.icon||''}} text-{{data.color||'success'}} display-2"></span>
    </p>
  </ng-template>
</div>
<div  class="text-center">
  <button mat-raised-button (click)="onNoClick()">No</button>
  <button mat-raised-button class="text-{{data.color||'success'}} ml-2" (click)="onYesClick()">Yes</button>
</div>
