<!-- Contenedor de toda la vista del dashboard. -->
<div class="body-full-container">


    <div class="az-home-slider">
        <div class="chart-wrapper">
            <div class="flot-chart">
                <img src="https://rsanchezs.gitbooks.io/rgraphic/content/section1/slides-figure/graph.png" alt="">
            </div>
        </div><!-- chart-wrapper -->
        <div class="card-columns">
            <ng-template ngFor let-iImg [ngForOf]="arrImgHome" let-i="index">


                <div class="card">
                    <img src="{{iImg}}" class="img-fluid img-opacity" alt="">
                </div>


            </ng-template>
        </div><!-- card-columns -->

        <div class="az-home-content mg-t-10">


            <div class="az-logo">{{title_home}}</div>
            <h5>{{sub_title_home}}</h5>

            <div class="logo-group">
                <i class="icon-archivo-pdf"></i>
                <i class="icon-ship1"></i>
                <i class="icon-archivo-excel"></i>
                <i class="fab fa-gulp"></i>
            </div>

            <h1>{{description_home}}</h1>
            <div class="mg-b-50">{{description_home_ext}}</div>
            <div>
                <a class="btn btn-light flex-1 mg-r-10" (click)="CLICK(azDemo)">View Videos</a>
                <!-- <a lass="btn btn-primary flex-1">Buy Template - $25</a> -->
            </div>

        </div><!-- az-home-content -->

        <div class="container-user-manual">

            <div class="container-fluid">
                <div class="w-100 row no-gutters">

                    <div class="col-12 mb-2">
                        <h2>Modules</h2>
                    </div>
                    <div class="col-12 row no-gutters">
                        <ng-template ngFor let-iArrModules [ngForOf]="arrModules" let-i="index">


                            <div class="col-sm-6 col-lg-4">

                                <div class="container-modules">

                                    <a href="#" (click)="ClickSelectModule(azDemo)" target="_blank">
                                        <i class="{{iArrModules.icono}}"></i>
                                        <h4>
                                            {{iArrModules.title_icono}}
                                        </h4>
                                        <span>
                                            {{iArrModules.text}}
                                        </span>
                                        <ul>
                                            <ng-template ngFor let-iList_option [ngForOf]="iArrModules.list_option" let-i="index">
                                                <li>{{iList_option}}</li>
                                            </ng-template>
                                        </ul>
                                        <span href="{{iArrModules.href}}" class="text_href">{{iArrModules.text_ref}}</span>
                                    </a>

                                </div>
                            </div>
                            
                        </ng-template>
                       
                    </div>

                </div>
            </div>

        </div>
        <!-- Container Manual  -->

    </div><!-- az-home-slider -->

    <div #azDemo class="az-content az-content-choose-demo azDemo">
        <div class="container">
            <label class="title-label">{{title_list_videos}}</label>
            <h1 class="title">{{h1_title_videos}}</h1>
            <p class="title-text">{{description_title_videos}}</p>

            <div class="row">

                <ng-template ngFor let-iList_video [ngForOf]="list_video" let-i="index">

                    <div class="col-sm-6 col-lg-4">
                        <div class="card">
                            
                            <ng-template [ngIf]="iList_video.iframe_video == 'Dashboard'">

                                <iframe  class="img-fluid"  src="https://www.youtube.com/embed/tCUzXD-4uLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                
                            </ng-template>
                            <ng-template [ngIf]="iList_video.iframe_video == 'Voyage'">

                                <iframe  class="img-fluid"  src="https://www.youtube.com/embed/nkXG_S9cPJQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                
                            </ng-template>
                            <ng-template [ngIf]="iList_video.iframe_video == 'User'">

                                <iframe  class="img-fluid"  src="https://www.youtube.com/embed/qgOLacIuc4I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                
                            </ng-template>
                                
                        </div>
                        <h6 class="az-content-title">{{iList_video.title}}</h6>
                        <label class="az-content-label az-content-label-sm">{{iList_video.description}}</label>
                    </div><!-- col -->
                 
                </ng-template>

            </div><!-- row -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

</div>