<!-- Contenedor de toda la vista del dashboard. -->
<div class="body-full-container">


    <div class="az-home-slider">
        <div class="chart-wrapper">
            <div class="flot-chart">
                <img src="https://rsanchezs.gitbooks.io/rgraphic/content/section1/slides-figure/graph.png" alt="">
            </div>
        </div><!-- chart-wrapper -->
        <div class="card-columns">
            <ng-template ngFor let-iImg [ngForOf]="arrImgHome" let-i="index">


                <div class="card">
                    <img src="{{iImg}}" class="img-fluid img-opacity" alt="">
                </div>


            </ng-template>
        </div><!-- card-columns -->

        <div class="az-home-content mg-t-10">


            <div class="az-logo">{{title_home}}</div>
            <h5>{{sub_title_home}}</h5>

            <div class="logo-group">
                <i class="icon-archivo-pdf"></i>
                <i class="icon-ship1"></i>
                <i class="icon-archivo-excel"></i>
                <i class="fab fa-gulp"></i>
            </div>

            <h1>{{description_home}}</h1>
            <div class="mg-b-50">{{description_home_ext}}</div>
            <div>
                <a class="btn btn-light flex-1 mg-r-10" (click)="CLICK(azDemo)">View Demo</a>
                <a lass="btn btn-primary flex-1">Buy Template - $25</a>
            </div>

        </div><!-- az-home-content -->

        <div class="container-user-manual">

            <div class="container-fluid">
                <div class="w-100 row no-gutters">

                    <div class="col-12 mb-2">
                        <h2>Modules</h2>
                    </div>
                    <div class="col-12 row no-gutters">
                        <ng-template ngFor let-iArrModules [ngForOf]="arrModules" let-i="index">


                            <div class="col-sm-6 col-lg-4">

                                <div class="container-modules">

                                    <a href="http://twitter.com/themepixels" target="_blank">
                                        <i class="{{iArrModules.icono}}"></i>
                                        <h4>
                                            {{iArrModules.title_icono}}
                                        </h4>
                                        <span>
                                            {{iArrModules.text}}
                                        </span>
                                        <ul>
                                            <ng-template ngFor let-iList_option [ngForOf]="iArrModules.list_option" let-i="index">
                                                <li>{{iList_option}}</li>
                                            </ng-template>
                                        </ul>
                                        <span href="{{iArrModules.href}}" class="text_href">{{iArrModules.text_ref}}</span>
                                    </a>

                                </div>
                            </div>
                            
                        </ng-template>
                       
                    </div>

                </div>
            </div>

        </div>
        <!-- Container Manual  -->

    </div><!-- az-home-slider -->

    <div #azDemo class="az-content az-content-choose-demo">
        <div class="container">
            <label class="title-label">Layout Variants</label>
            <h1 class="title">Choose Dashboard Layout</h1>
            <p class="title-text">Azia comes with 10 pre-built dashboard template each with own purpose and layouts.</p>

            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-one.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-one.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Classic (Default)</label>
                    <h6 class="az-content-title">Web Analytics Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-sm-t-0">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-two.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-two.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Classic Sidebar</label>
                    <h6 class="az-content-title">Sales Monitoring Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-lg-t-0">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-three.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-three.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Classic Iconbar</label>
                    <h6 class="az-content-title">Ad Campaign Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-lg-t-50">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-four.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-four.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Light Color Skin </label>
                    <h6 class="az-content-title">Event Management Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-lg-t-50">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-five.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-five.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Light Sidebar </label>
                    <h6 class="az-content-title">Helpdesk Management Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-lg-t-50">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-six.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-six.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Light Iconbar</label>
                    <h6 class="az-content-title">Finance Monitoring Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-lg-t-50">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-seven.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-seven.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Minimalist Design</label>
                    <h6 class="az-content-title">Cryptocurrency Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-lg-t-50">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-eight.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-eight.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Colored Header Variant</label>
                    <h6 class="az-content-title">Executive/SaaS Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-lg-t-50">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-nine.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-nine.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Colored Sidebar Variant</label>
                    <h6 class="az-content-title">Campaign Monitoring Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-lg-t-50">
                    <div class="card">
                        <figure>
                            <img src="http://themepixels.me/azia/img/img-dashboard-ten.png" class="img-fluid" alt="">
                            <figcaption><a href="dashboard-ten.html" target="_blank" class="btn btn-primary">Live
                                    Preview</a></figcaption>
                        </figure>
                    </div>
                    <label class="az-content-label az-content-label-sm">Colored Iconbar Variant</label>
                    <h6 class="az-content-title">Product Management Dashboard</h6>
                </div><!-- col -->
                <div class="col-sm-6 col-lg-4 mg-t-40 mg-lg-t-50">
                    <div class="card coming-soon">
                        <i class="typcn typcn-chart-line-outline"></i>
                        <h6>More Coming Soon</h6>
                    </div>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

</div>