<!-- Contenedor de toda la vista del dashboard. -->
<div class="body-full-container">


    <div class="az-home-slider">
        <div class="chart-wrapper">
            <div class="flot-chart">
                <img src="https://rsanchezs.gitbooks.io/rgraphic/content/section1/slides-figure/graph.png" alt="">
            </div>
        </div><!-- chart-wrapper -->
        <div class="card-columns">
            <ng-template ngFor let-iImg [ngForOf]="arrImgHome" let-i="index">


                <div class="card">
                    <img src="{{iImg}}" class="img-fluid img-opacity" alt="">
                </div>


            </ng-template>
        </div><!-- card-columns -->

        <div class="az-home-content mg-t-10">


            <div class="az-logo">{{title_home}}</div>
            <h5>{{sub_title_home}}</h5>

            <div class="logo-group">
                <i class="icon-archivo-pdf"></i>
                <i class="icon-ship1"></i>
                <i class="icon-archivo-excel"></i>
                <i class="fab fa-gulp"></i>
            </div>

            <h1>{{description_home}}</h1>
            <div class="mg-b-50">{{description_home_ext}}</div>
            <div>
                <a class="btn btn-light flex-1 mg-r-10" (click)="CLICK(azUser)">View Videos</a>
                <!-- <a lass="btn btn-primary flex-1">Buy Template - $25</a> -->
            </div>

        </div><!-- az-home-content -->

        <div class="container-user-manual">

            <div class="container-fluid">
                <div class="w-100 row no-gutters">

                    <div class="col-12 mb-2">
                        <h2>Modules</h2>
                    </div>
                    <div class="col-12 row no-gutters">
                        <ng-template ngFor let-iArrModules [ngForOf]="arrModules" let-i="index">


                            <div class="col-sm-6 col-lg-4 m-auto">

                                <div class="container-modules">

                                    <a href="#" (click)="ClickSelectModule(azUser)" target="_blank">
                                        <i class="{{iArrModules.icono}}"></i>
                                        <h4>
                                            {{iArrModules.title_icono}}
                                        </h4>
                                        <span>
                                            {{iArrModules.text}}
                                        </span>
                                        <ul>
                                            <ng-template ngFor let-iList_option [ngForOf]="iArrModules.list_option"
                                                let-i="index">
                                                <li>{{iList_option}}</li>
                                            </ng-template>
                                        </ul>
                                        <span href="{{iArrModules.href}}"
                                            class="text_href">{{iArrModules.text_ref}}</span>
                                    </a>

                                </div>
                            </div>

                        </ng-template>

                    </div>

                </div>
            </div>

        </div>
        <!-- Container Manual  -->

    </div><!-- az-home-slider -->

    <div #azUser class="az-content az-content-choose-demo azUser">
        <div class="container">
            <br>
            <h1 class="title">{{onlineAndOffline.text}}</h1>
            <br>

            <div class="row">
                <div class="col-sm-6 m-auto">
                    <div class="card"> 
                        <iframe class="img-fluid"
                            src="https://www.youtube.com/embed/3LX2hoONksE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-6 m-auto">
                    <div class="card">
                        <iframe class="img-fluid"
                            src="https://www.youtube.com/embed/S8ep4-sUVag"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>     
            </div><!-- row -->
        </div><!-- container-fluid -->
    </div><!-- az-content -->

    <div #azUser1 class="az-content az-content-choose-demo azDemo">
        <div class="container">
            <label class="title-label"> </label>
            <h1 class="title">User Module</h1>
            <p class="title-text">Module in charge of the registry of administrators, owner, vessel.</p>
            <div class="row">
                <div class="col-sm-6 m-auto">
                    <div class="card"> 
                        <iframe class="img-fluid"
                            src="https://www.youtube.com/embed/J6xLM0S3-8I"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-6 m-auto">
                    <div class="card">
                        <iframe class="img-fluid"
                            src="https://www.youtube.com/embed/YuE8PBxHxo0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>     
            </div><!-- row -->
       
        </div><!-- container-fluid -->
    </div><!-- az-content -->
    <div #azReport class="az-content az-content-choose-demo azDemo">
        <div class="container">
            <label class="title-label"> </label>
            <h1 class="title">Voyage Module</h1>
            <p class="title-text">Module in charge of the voyage, port and daily report.</p>
            <div class="row">
                <div class="col-sm-6 m-auto">
                    <div class="card"> 
                        <iframe class="img-fluid"
                            src="https://www.youtube.com/embed/2rL55Vs5eqQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-sm-6 m-auto">
                    <div class="card">
                        <iframe class="img-fluid"
                            src="https://www.youtube.com/embed/XjKE19hXeGY"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>     
            </div><!-- row -->
        
        </div><!-- container-fluid -->
    </div><!-- az-content -->


</div>