// Color
$t-yellow: #feb600;
$t-blue: #133595;
$warning: #9b0000;

$blue-light-1: lighten($t-blue, 10%);
$blue-light-2: lighten($t-blue, 30%);

$blue-dark-1: darken($t-blue, 10%);
$blue-dark-2: darken($t-blue, 30%);
