*node_modules*
backend/dbTransgas.sqlite3
backend/IMAGE_UPLOADS/*
backend/package-lock.json
frontend/package-lock.json
frontend/.angular/*
backend/uploads/*
presentacion plataforma/~$cambios actualizados \[Autosaved].pptx
presentacion plataforma/~$cambios actualizados.pptx
presentacion plataforma/cambios actualizados \[Autosaved].pptx
presentacion plataforma/cambios actualizados.pptx
presentacion plataforma/CONFIGURACION.pptx
presentacion plataforma/Manual-de-Control-de-Stock-de-Lubricante-y-Combustible.pptx
presentacion plataforma/PROPUESTA DE LOS REQUERIMIENTOS SOLICITADOS.pptx
presentacion plataforma/~$cambios actualizados.pptx
presentacion plataforma/PROPUESTA DE LOS REQUERIMIENTOS SOLICITADOS.pptx
