@import "../../variable";


.cont-img-upload {
  position: relative;

  .icon-upload-center {
    position: absolute;
    top: 45%;
    left: 45%;
  }

  .efectOpacity {
    font-size: 14pt;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      color: $t-blue;
    }
  }

  &:hover {
    .efectOpacity {
      opacity: 1;

    }
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#file-label {
  display: inline-flex;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
}

#file-label mat-icon {
  font-size: 18px;
  text-align: center;
}

#file-label a {
  cursor: pointer;
}
