<div class="body-full-container">
    <div
        class="card-edit-dev row no-gutters pt-2 pt-ms-3 pt-md-3 pt-lg-3  pr-2 pr-ms-3 pr-md-3 pr-lg-3 pb-0 pb-ms-0 pb-md-0 pb-lg-0  pl-2 pl-ms-3 pl-md-3 pl-lg-3">

        <ng-template ngFor let-i="index" let-c="count" let-data [ngForOf]="getUsers">

            <div class="card bg-dark text-white mr-2 mb-2">
                <img class="card-img" src="{{data.filename}}" alt="Card image">
                <div class="card-img-overlay">
                    <div class="cont-title">
                        <h5 class="card-title h3">{{data.name}}</h5>
                        <a (click)="ClickConfigSendMail(data)" class="buttom_config">
                            <span class="icon-cogs"></span>
                        </a>
                    </div>
                    <div class="card-text">
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="2" rowspan="1">&nbsp;</td>
                                    <td class="color-title-table blue-3 h7 border">
                                        {{(data.isConsumptionIFO?'IFO':data.isConsumptionVLSFO ? 'VLSFO' : 'LSFO') |
                                        translateMessage:translateCategory}}
                                    </td>
                                    <td class="color-title-table blue-3 h7 border">MGO</td>
                                    <td class="color-title-table blue-2 h7 border">
                                        {{ 'DISTANCE' | translateMessage:translateCategory}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="1" class="color-text-content h6 border">
                                        <div class="d-block">Star Date</div>
                                        <div style="text-align: center;">{{ data.lastPortAndTotalConsump.startDate }}
                                        </div>
                                    </td>
                                    <td colspan="1" rowspan="2" class="color-text-content h6 border">
                                        <div style="text-align: center;">
                                            {{
                                            MathRoundOneDecimal(
                                            data.lastPortAndTotalConsump.startIFO,
                                            cantDecimal
                                            ) }}
                                        </div>
                                    </td>
                                    <td colspan="1" rowspan="2" class="color-text-content h6 border">
                                        <div style="text-align: center;">
                                            {{
                                            MathRoundOneDecimal(
                                            data.lastPortAndTotalConsump.startMGO,
                                            cantDecimal
                                            )
                                            }}
                                        </div>
                                    </td>
                                    <td colspan="1" rowspan="4" class="color-text-content h6 border">
                                        <div class="h5">
                                            {{
                                            MathRoundOneDecimal(
                                            data.lastPortAndTotalConsump.distance,
                                            cantDecimal
                                            )
                                            }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="1" class="color-text-content h6 border">
                                        <div class="d-block">{{'DEPARTURE_PORT' | translateMessage:translateCategory}}
                                        </div>
                                        <div class="h5">
                                            {{data.lastPortAndTotalConsump.departurePort}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="1" class="color-text-content h6 border">
                                        <div class="d-block">{{'ARRIVAL_PORT' | translateMessage:translateCategory}}
                                        </div>
                                        <div class="h5">
                                            {{data.lastPortAndTotalConsump.arrivalPort}}
                                        </div>
                                    </td>
                                    <td colspan="1" rowspan="2" class="color-text-content h6 border">
                                        <div class="h5">
                                            {{
                                            MathRoundOneDecimal(
                                            data.lastPortAndTotalConsump.startIFO-
                                            TotalIFO(data.lastPortAndTotalConsump)
                                            + data.lastPortAndTotalConsump.bunkeringIfo,
                                            cantDecimal
                                            )
                                            }}
                                        </div>
                                    </td>
                                    <td colspan="1" rowspan="2" class="color-text-content h6 border">
                                        <div class="h5">
                                            {{
                                            MathRoundOneDecimal(
                                            data.lastPortAndTotalConsump.startMGO-
                                            TotalMGO(data.lastPortAndTotalConsump)
                                            + data.lastPortAndTotalConsump.bunkeringMgo,
                                            cantDecimal
                                            )
                                            }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="1" class="color-text-content h6 border">
                                        <div class="d-block">End Date</div>
                                        <div class="h5">
                                            {{data.lastPortAndTotalConsump.lastDate}}
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div>