@import "../../../app/variable";

.nav-link.active i {
  color: $t-yellow;
  transition: 0.4s;
}

.container-personalizate {
  position: absolute;
  z-index: 1000;
}

.az-iconbar-pane.active {
  h6 {
    color: $t-yellow;
  }
}

.az-iconbar-help.active i {
  color: $t-yellow;
}
