<div class="az-content-breadcrumb lh-1 mg-b-2 pl-0">
  <span>dashboard</span>
  <span>export Pdf</span>

</div>
<h2 class="az-content-title tx-24 mg-b-0 pl-0">

  <mat-form-field class="w-100">
    <mat-label>Generate PDF</mat-label>
    <mat-select [(ngModel)]="selectTypeExport">

      <mat-option value='VESSEL_PERFORMANCE' (click)="ClickSelectPort()">
        Vessel Performance Report
      </mat-option>

    </mat-select>
  </mat-form-field>

</h2>
<div class="row">
  <div class="col-6 col-sm-12 col-md-6 col-lg-6">

    <mat-form-field class="w-100">
      <mat-label>Voyage</mat-label>
      <mat-select [(ngModel)]="selectVoyageId">

        <ng-template ngFor let-iVoyage [ngForOf]="voyages" let-i="index">
          <mat-option [value]="iVoyage.id" (click)="ClickSelectVoyage()">
            Voyage {{ iVoyage.voyageNumber}}
          </mat-option>
        </ng-template>

      </mat-select>
    </mat-form-field>

  </div>
  <div class="col-6 col-sm-12 col-md-6 col-lg-6">

    <mat-form-field class="w-100">
      <mat-label>Port</mat-label>
      <mat-select [(ngModel)]="selectPortId">

        <ng-template ngFor let-iPort [ngForOf]="ports" let-i="index">
          <mat-option [value]="iPort.id" (click)="ClickSelectPort()">
            Port N° {{ iPort.portNumber}} ( {{ iPort.departurePort }} - {{ iPort.arrivalPort }} )
          </mat-option>
        </ng-template>

      </mat-select>
    </mat-form-field>

  </div>
</div>

<div class="row">
  <div class="col-6 ">

    <button mat-raised-button color="primary" (click)="ClickExportPDF()">Descargar
      <span style="font-size: 14pt;" class="icon-archivo-pdf"></span>
    </button>

  </div>
</div>

<div style="opacity: 0; height: 0px; width: 0px; overflow: hidden;">

  <div id="dash-linea-speed" style="width: 570px; height: 287px;background:  #121c3c; padding: 10px 20px 10px 15px;">
    <canvas id="lineaSpeed" class="w-100"></canvas>
  </div>

</div>
<div style="opacity: 0; height: 0px; width: 0px; overflow: hidden;">


  <div id="dash-linea-ifo" style="width: 570px; height: 287px;background:  #121c3c; padding: 10px 20px 10px 15px;">
    <canvas id="lineaIfo" class="w-100"></canvas>
  </div>

</div>