<div class="container-fluid pr-4 pt-4 pl-4 pb-0">

  <div class="az-content-left az-content-left-contacts">

    <app-az-list [settingAzList]="SettingAzList" [azLists]="azLists" [azListDropdowns]="azListDropdowns"
      [selectAzSelectDropdown]="selectUserDropdown" (eSelectAzList)="SelectItemAzList($event)" (eSelectNew)="ClickNew()"
      (eSelectBack)="ClickSelectBack()" (eSelectDelete)="ClickDelete($event)"
      (eSelectDropdown)="ClickSelectUser($event)" (eSelectItemEmit2)="ClickAddPort($event)"
      (eSelectItemEmit3)="ClickAddReport($event)">
    </app-az-list>

  </div><!-- az-content-left -->


  <div class="az-content-body az-content-body-contacts">

    <div class="az-contact-info-header">
      <div class="media">

        <div class="media-body ml-0">
          <h4>{{title_header_media}}</h4>
          <p class="mb-0">{{sub_title_header_media}}</p>
        </div>

      </div>


      <div class="az-contact-action">

        <!-- Accion en botones -->
        <!-- Estos campos son para el edit, recordemos que si un objeto tiene id entonces es para actualizar. -->
        <ng-template [ngIf]="disableEdit && (selectPort.id)">

          <button mat-icon-button color="primary" (click)="ClickChangeEnableFrm(true)"
            matTooltip="{{toolTipEnableForm | translateMessage:translateCategory}}">
            <mat-icon class="icon-edit-2"></mat-icon>
          </button>

        </ng-template>


        <ng-template [ngIf]="!disableEdit">

          <button mat-icon-button color="primary" (click)="ClickSave()"
            matTooltip="{{toolTipSave | translateMessage:translateCategory}}">
            <mat-icon class="icon-save"></mat-icon>
          </button>

          <button mat-icon-button color="primary" (click)="ClickDiscard()"
            matTooltip="{{toolTipDiscard | translateMessage:translateCategory}}">
            <mat-icon class="icon-x2"></mat-icon>
          </button>

        </ng-template>

        <!-- Fin accion en botones -->

      </div><!-- az-contact-action -->

    </div><!-- az-contact-info-header -->
    <div class="az-contact-info-body sin-image">
      <div class="media-list">

        <ng-template [ngIf]="List_Voyages_Ports_DailyReports==='Ports'">

          <div class="row pb-2">
            <div class="col-6 row no-gutters">
              <mat-form-field>
                <input matInput type="text" placeholder="{{'DEPARTURE_PORT' | translateMessage:translateCategory}}"
                  [(ngModel)]="selectPort.departurePort" [disabled]='disableEdit'>
              </mat-form-field>
            </div>
            <div class="col-6 row no-gutters">
              <mat-form-field>
                <input matInput type="text" placeholder="{{'ARRIVAL_PORT' | translateMessage:translateCategory}}"
                  [(ngModel)]="selectPort.arrivalPort" [disabled]='disableEdit'>
              </mat-form-field>
            </div>
          </div>

          <hr>

          <ng-template [ngIf]="selectPort.id">
            <div class="text-right pb-3">
              <button mat-button color="primary" (click)="ClickAddNewReport()"
                matTooltip="{{'ADD_REPORT' | translateMessage:translateCategory}}">
                {{'ADD_REPORT' | translateMessage:translateCategory}}
                <mat-icon class="icon-clipboard"></mat-icon>
              </button>
            </div>
          </ng-template>

          <div class="row pb-2">

            <div [ngClass]="{'d-none': getDailyReports.length == 0}" class="PerfectScrollbar-reportTable col-12">

              <table class="modi table mb-0 tx-12 lh-4 tx-gray-500 mg-b-0">
                <thead>
                  <tr>

                    <th class="color-title-table blue-1 font-small-1 border align-top pt-1">
                      {{'ACTIVITY_PERFORMED' | translateMessage:translateCategory}}</th>
                    <th class="color-title-table blue-1 font-small-1 border align-top pt-1">
                      {{'DATE' | translateMessage:translateCategory}}</th>
                    <th class="color-title-table blue-1 font-small-1 border align-top pt-1">
                      {{'HOUR' | translateMessage:translateCategory}}</th>
                    <th *ngIf="selectUser.isConsumptionIFO||selectUser.isConsumptionLSFO||selectUser.isConsumptionVLSFO"
                      class="color-title-table blue-3 font-small-1 border align-top pt-1">
                      {{(selectUser.isConsumptionIFO?'TOTAL_IFO':selectUser.isConsumptionVLSFO ? 'TOTAL_VLSFO' :
                      'TOTAL_LSFO') | translateMessage:translateCategory}}
                    </th>
                    <th *ngIf="selectUser.isConsumptionMGO"
                      class="color-title-table blue-3 font-small-1 border align-top pt-1">
                      {{'TOTAL_MGO' | translateMessage:translateCategory}}</th>
                    <th class="color-title-table blue-1 font-small-1 border align-top pt-1">
                      {{'OBSERVATIONS' | translateMessage:translateCategory}}</th>
                    <th class="color-title-table blue-1 border align-top pt-1"></th>
                  </tr>
                </thead>
                <tbody>

                  <ng-template ngFor let-i="index" let-c="count" let-dailyReport [ngForOf]="getDailyReports">

                    <tr>
                      <td class="p-1 color-title-table border">
                        {{ dailyReport.activityPerformed | translateMessage:translateCategory }}
                      </td>
                      <td class="p-1 color-title-table border">{{ FormatDate(dailyReport.date) }}</td>
                      <td class="p-1 color-title-table border">{{ dailyReport.hour }}</td>
                      <td
                        *ngIf="selectUser.isConsumptionIFO||selectUser.isConsumptionLSFO||selectUser.isConsumptionVLSFO"
                        class="p-1 color-title-table border">{{ TotalIFO(dailyReport) }}</td>
                      <td *ngIf="selectUser.isConsumptionMGO" class="p-1 color-title-table border">
                        {{ TotalMGO(dailyReport) }}</td>
                      <td class="p-1 color-title-table border">{{ dailyReport.observation }}</td>
                      <td class="p-1 color-title-table border">
                        <a href="#" class="mr-3" (click)="ClickEditReport(dailyReport)">
                          <i class="icon-edit-2"
                            matTooltip=" {{'EDIT_REPORT' | translateMessage:translateCategory}}"></i>
                        </a>
                        <a href="#" (click)="ClickDeleteReport(dailyReport)">
                          <i class="icon-delete"
                            matTooltip="{{'DELETE_REPORT' | translateMessage:translateCategory}}"></i>
                        </a>
                      </td>
                    </tr>

                  </ng-template>

                </tbody>

              </table>

            </div>


          </div>



        </ng-template>

        <ng-template [ngIf]="List_Voyages_Ports_DailyReports==='DailyReports'">

          <div class="row pl-2 pb-2">

            <div class="col-4 row no-gutters">
              <mat-form-field>
                <mat-label>{{'DATE' | translateMessage:translateCategory}}</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="selectDailyReport.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-4 row no-gutters">
              <mat-form-field>
                <input matInput type="time" placeholder="{{'HOUR' | translateMessage:translateCategory}}"
                  [(ngModel)]="selectDailyReport.hour">
              </mat-form-field>
            </div>
            <div class="col-4 row no-gutters">
              <mat-form-field>
                <mat-label>{{'ACTIVITY_PERFORMED' | translateMessage:translateCategory}}</mat-label>
                <mat-select [(ngModel)]="selectDailyReport.activityPerformed" name="activityPerformed">
                  <mat-option value="LOADING">{{'LOADING' | translateMessage:translateCategory}}</mat-option>
                  <mat-option value="DOWNLOADING">{{'DOWNLOADING' | translateMessage:translateCategory}}</mat-option>
                  <mat-option value="SAILING_IN_BALLAST">{{'SAILING_IN_BALLAST' | translateMessage:translateCategory}}
                  </mat-option>
                  <mat-option value="SAILING_WITH_LADEN">{{'SAILING_WITH_LADEN' | translateMessage:translateCategory}}
                  </mat-option>
                  <mat-option value="ECONOMICAL_NAVIGATION">
                    {{'ECONOMICAL_NAVIGATION' | translateMessage:translateCategory}}</mat-option>
                  <mat-option value="ANCHORED">{{'ANCHORED' | translateMessage:translateCategory}}</mat-option>
                  <mat-option value="MANEUVER">{{'MANEUVER' | translateMessage:translateCategory}}</mat-option>
                  <mat-option value="OTHER_ACT">{{'OTHER_ACT' | translateMessage:translateCategory}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

          <ng-template [ngIf]="isBunkering">
            <div class="row pl-2 pb-2">

              <ng-template
                [ngIf]="selectUser.isConsumptionIFO || selectUser.isConsumptionLSFO || selectUser.isConsumptionVLSFO">
                <div class="col row no-gutters">
                  <mat-form-field>
                    <input matInput type="number" placeholder="{{'BUNKERING_IFO' | translateMessage:translateCategory}}"
                      [(ngModel)]="selectDailyReport.bunkeringIfo">
                  </mat-form-field>
                </div>
              </ng-template>

              <ng-template [ngIf]="selectUser.isConsumptionMGO">
                <div class="col row no-gutters">
                  <div class="col-11">
                    <mat-form-field>
                      <input matInput type="number"
                        placeholder="{{'BUNKERING_MGO' | translateMessage:translateCategory}}"
                        [(ngModel)]="selectDailyReport.bunkeringMgo">
                    </mat-form-field>
                  </div>
                </div>
              </ng-template>

              <div class="col-1">
                <div class="force-right pt-3">
                  <a class="ml-0 ml-3-md" href="" (click)="ActivateBunkering(false)"
                    matTooltip="{{'NO_BUNKERING' | translateMessage:translateCategory}}">
                    <i class="icon-cancel2"></i> <i class="icon-gas-station"></i>
                  </a>
                </div>
              </div>
            </div>
          </ng-template>

          <div class="row pl-2 pb-2">

            <ng-template
              [ngIf]="selectUser.isConsumptionIFO || selectUser.isConsumptionLSFO || selectUser.isConsumptionVLSFO">
              <div class="col row no-gutters">

                <p class="m-0 grp-title">
                  {{(selectUser.isConsumptionIFO?'CONSUMPTION_IFO': selectUser.isConsumptionVLSFO ? 'CONSUMPTION_VLSFO'
                  : 'CONSUMPTION_LSFO') | translateMessage:translateCategory}}
                </p>

                <div class="col-12 row no-gutters personalizate">
                  <ng-template [ngIf]="selectUser.isMEIFO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="M.E" [(ngModel)]="selectDailyReport.mplaIfo">
                      </mat-form-field>
                    </div>
                  </ng-template>

                  <ng-template [ngIf]="selectUser.isAEIFO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="A.E" [(ngModel)]="selectDailyReport.auxIfo">
                      </mat-form-field>
                    </div>
                  </ng-template>

                  <ng-template [ngIf]="selectUser.isBoilerIFO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="Boiler" [(ngModel)]="selectDailyReport.boilerIfo">
                      </mat-form-field>
                    </div>
                  </ng-template>

                  <ng-template [ngIf]="selectUser.isOtherIFO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="{{'OTHER_IFO' | translateMessage:translateCategory}}"
                          [(ngModel)]="selectDailyReport.otherIfo">
                      </mat-form-field>
                    </div>
                  </ng-template>
                </div>

              </div>
            </ng-template>

            <ng-template [ngIf]="selectUser.isConsumptionMGO">
              <div class="col row no-gutters">
                <p class="m-0 grp-title">{{'CONSUMPTION_MGO' | translateMessage:translateCategory}}</p>

                <div class="col-12 row no-gutters personalizate">
                  <ng-template [ngIf]="selectUser.isMEMGO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="M.E" [(ngModel)]="selectDailyReport.mplaMgo">
                      </mat-form-field>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="selectUser.isAEMGO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="A.E" [(ngModel)]="selectDailyReport.auxMgo">
                      </mat-form-field>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="selectUser.isBoilerMGO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="Boiler" [(ngModel)]="selectDailyReport.boilerMgo">
                      </mat-form-field>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="selectUser.isPowerPMGO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="P.P" [(ngModel)]="selectDailyReport.ppMgo">
                      </mat-form-field>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="selectUser.isIGMGO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="I.G" [(ngModel)]="selectDailyReport.giMgo">
                      </mat-form-field>
                    </div>
                  </ng-template>
                  <ng-template [ngIf]="selectUser.isOtherMGO">
                    <div class="col">
                      <mat-form-field>
                        <input matInput type="number" placeholder="Other" [(ngModel)]="selectDailyReport.otherMgo">
                      </mat-form-field>
                    </div>
                  </ng-template>
                </div>
              </div>
            </ng-template>

            <div class="col-1 row no-gutters">
              <ng-template [ngIf]="!isBunkering">
                <div class="col-1">
                  <div class="force-right pt-3">
                    <a class="ml-0 ml-3-md " href="" (click)="ActivateBunkering(true)"
                      matTooltip="{{'BUNKERING' | translateMessage:translateCategory}}">
                      <i class="icon-gas-station"></i>
                    </a>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>


          <div class="row pl-2 pb-2">

            <div class="col">
              <mat-form-field>
                <input matInput type="number" placeholder="{{'STEAMING_TIME' | translateMessage:translateCategory}}"
                  [(ngModel)]="selectDailyReport.steamingTime">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field>
                <input matInput type="number" placeholder="{{'DISTANCE' | translateMessage:translateCategory}}"
                  [(ngModel)]="selectDailyReport.distance">
              </mat-form-field>
            </div>

          </div>



          <div class="row pl-2 pb-2">

            <div class="col">
              <mat-form-field>
                <mat-label>{{'BEFOURT' | translateMessage:translateCategory}}</mat-label>
                <mat-select [(ngModel)]="selectDailyReport.beaufour" name="beaufour">
                  <mat-option value="S1">{{'S1' | translateMessage:translateCategory}}</mat-option>
                  <mat-option value="S2">{{'S2' | translateMessage:translateCategory}}</mat-option>
                  <mat-option value="S3">{{'S3' | translateMessage:translateCategory}}</mat-option>
                  <mat-option value="S4">{{'S4' | translateMessage:translateCategory}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-label>{{'OBSERVATIONS' | translateMessage:translateCategory}}</mat-label>
                <textarea matInput placeholder="{{'OBSERVATIONS' | translateMessage:translateCategory}}"
                  [(ngModel)]="selectDailyReport.observation"></textarea>
              </mat-form-field>
            </div>

          </div>


        </ng-template>

      </div><!-- media-list -->
    </div>

  </div>

</div>