@import "../../../variable";
.PerfectScrollbar-reportTable {
  overflow: scroll;
}

.cont-speed-straction {
  label {
    color: rgba(0, 0, 0, 0.54);
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1;
    font-size: 10px;
  }
}

.modi {
  &.table {
    overflow: hidden hidden;
    font-size: 7pt !important;
    // Clase de bootstrap estoy modificando solo el color del borde-
    .border {
      border-color: $blue-light-2 !important;
    }

    thead {
      tr {
        .color-title-table {
          color: #ffffff;
          font-size: 7pt !important;

          &.blue-1 {
            background: $blue-light-1;
          }

          &.blue-2 {
            background: $blue-light-1;
          }

          &.blue-3 {
            background: $blue-dark-1;
          }
        }

        th {
          text-align: center;
        }

        td {
          text-align: center;
          cursor: pointer;
          animation: all 0.5s;
          transition: all 0.5s;
        }
      }
    }

    tbody {
      tr {
        .color-title-table {
          color: $t-blue;
        }

        th {
          text-align: center;
          font-weight: bold;
        }

        td {
          text-align: center;
          animation: all 0.5s;
          transition: all 0.5s;
          font-weight: bold;
        }

        &:hover {
          td {
            background: rgba(184, 209, 255, 0.2);
          }
        }
      }
    }
  }
}

.title-group-lowcode {
  &:focus-within {
    .color-label-material {
      color: #3f51b5;
    }
  }

  .color-label-material {
    color: rgba(0, 0, 0, 0.54);
  }
}
