<h1>Mail Configuration: {{nameProduct}}</h1>

<p>From the next panel we have the option to configure the sending of the information of the last trip made.</p>

<p>
    <mat-form-field>
        <input matInput type="text" placeholder="Emails" [(ngModel)]="formSendMailConfigInitial.emails">
    </mat-form-field>
</p>
<p>
    <mat-slide-toggle [(ngModel)]="formSendMailConfigInitial.sendAutomatic">Activate automatic
        sending</mat-slide-toggle>
</p>

<p>
    <button mat-button color="primary" (click)="ClickSave()" matTooltip="">
        Save Changes
        <mat-icon class="icon-save"></mat-icon>
    </button>

    <button mat-button color="secundary" (click)="ClickTestSendMail()" [disabled]="!unlockButtonTest" matTooltip="">
        Test Send
        <mat-icon class="icon-save"></mat-icon>
    </button>
</p>