.menu-hidden-big {
  display: none;

  @media (max-width: 991px) {
    
  display: flex;
  }
}
/* 
.menu-hidden-big {
  display: flex;
}
 */
 .az-footer{
   background: white;
   z-index: 2;
 }


 .css-version-plataform {
  animation: changeColor 4s infinite;
 }
 
@keyframes changeColor {
  0% {
    color: #001F3F;
  }
  50% {
    color: #FF4136;
  }
  100% {
    color: #001F3F;
  }
}