<div class="container-fluid pr-4 pt-4 pl-4 pb-0">

  <div class="az-content-left az-content-left-contacts">

    <app-az-list [settingAzList]="SettingAzList" [azLists]="azLists" (eSelectAzList)="SelectUser($event)"
      (eSelectNew)="ClickNew()" (eSelectDelete)="ClickDeleteUser($event)"></app-az-list>

  </div><!-- az-content-left -->


  <div class="az-content-body az-content-body-contacts">

    <div class="az-contact-info-header">
      <div class="media">

        <app-file-upload (complete)="onFileComplete($event)" [multiple]="false" [id]="user.id"
          [filename]="user.filename" [role]="roleUser"></app-file-upload>

        <div class="media-body">

          <h4>{{ user.name }}</h4>
          <nav class="nav">
            <span class="nav-link">{{ user.role | translateMessage:translateCategory }}</span>
          </nav>

        </div><!-- media-body -->
      </div><!-- media -->
      <div class="az-contact-action">
        <!-- Estos campos son para el edit, recordemos que si un objeto tiene id entonces es para actualizar. -->
        <ng-template [ngIf]="user.id && disableEdit">
          <a href="" (click)="ClickEnableFrm()">
            <i class="icon-edit-2" matTooltip=" {{'EDIT_USER' | translateMessage:translateCategory}}"></i>
          </a>
        </ng-template>
        <!-- -->

        <ng-template [ngIf]="!disableEdit">
          <!-- El boton save actualiza y crea. -->
          <a id="SaveUser" href="" (click)="ClickSaveUser()">
            <i class="icon-save"
              matTooltip="{{ (user.id? 'UPDATE_USER' : 'CREATE_USER') | translateMessage:translateCategory}}"></i>
          </a>

          <!-- Descata un formulario -->
          <a id="DiscardUser" href="" (click)="ClickDiscardUser()">
            <i class="icon-x2" matTooltip="{{'CANCEL' | translateMessage:translateCategory}}"></i>
          </a>
        </ng-template>
        <!-- Fin accion en botones -->

      </div><!-- az-contact-action -->
    </div><!-- az-contact-info-header -->


    <div class="az-contact-info-body">
      <div class="media-list">

        <form [formGroup]="formUser">

          <div class="row pl-2 pb-2">

            <div class="col-6 row no-gutters">
              <mat-form-field class="w-100">
                <mat-label>{{'NAME' | translateMessage:translateCategory}}</mat-label>
                <input matInput type="text" placeholder="{{'NAME' | translateMessage:translateCategory}}"
                  formControlName="name">

                <mat-error *ngIf="errorHandling('name', 'required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-6 row no-gutters">
              <mat-form-field class="w-100">
                <mat-label>{{'NICK' | translateMessage:translateCategory}}</mat-label>
                <input matInput type="text" placeholder="{{'NICK' | translateMessage:translateCategory}}"
                  formControlName="nick">
                <mat-error *ngIf="errorHandling('nick', 'required')">
                  Nick is <strong>required</strong>
                </mat-error>
              </mat-form-field>

            </div>

          </div>
          <div class="row pl-2 pb-2">

            <div class="col-6 row no-gutters">
              <mat-form-field class="w-100">
                <mat-label>{{'PASSWORD' | translateMessage:translateCategory}}</mat-label>
                <input matInput type="password" placeholder="{{'PASSWORD' | translateMessage:translateCategory}}"
                  formControlName="password">

                <mat-error *ngIf="errorHandling('password', 'required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-6 row no-gutters">
              <mat-form-field class="w-100">

                <mat-label>{{'ROLE' | translateMessage:translateCategory}}</mat-label>
                <mat-select [(value)]="user.role" formControlName="role">
                  <ng-template [ngIf]="roleUser == 'ADMIN' || roleUser == 'SUPPORT'">
                    <mat-option value="ADMIN">{{'ADMIN' | translateMessage:translateCategory}}</mat-option>
                  </ng-template>
                  <ng-template [ngIf]="roleUser == 'SUPPORT'">
                    <mat-option value="SUPPORT">{{'SUPPORT' | translateMessage:translateCategory}}</mat-option>
                  </ng-template>
                  <mat-option value="BUQUE">{{'BUQUE' | translateMessage:translateCategory}}</mat-option>
                </mat-select>

                <mat-error *ngIf="errorHandling('role', 'required')">
                  Role is <strong>required</strong>
                </mat-error>

              </mat-form-field>
            </div>
          </div>

        </form>


      </div>
    </div>

  </div>

</div>
