<div class="component-filter" [ngClass]="{'component-filter-none': !isViewFilter}">

  <div class="row no-gutters">
    <div class="card card-body" [ngClass]="{'mt-2 mr-2 mb-0 ml-2': isViewFilter}">

      <h6 class="card-title tx-14 mb-3">
        {{ 'Legend' | translateMessage:translateCategory }}
        <span class="close-icon" (click)="viewFilter(false)">
          <i class="icon-x3"></i>
        </span>
      </h6>
      <div class="row">
        <div class="col-6">
          <span class="cudrado-red"><i></i></span> <label class="">Max</label>
        </div>
        <div class="col-6">
          <span class="cudrado-green"><i></i></span> <label class="">Min</label>
        </div>
      </div>

      <ng-template [ngIf]="roleUser == 'ADMIN' || roleUser == 'SUPPORT' ">

        <mat-form-field>
          <mat-label>{{'BUQUE' | translateMessage:translateCategory}}</mat-label>
          <mat-select [(ngModel)]="selectUserId">
            <ng-template ngFor let-iUser [ngForOf]="getUsers" let-i="index">
              <mat-option value="{{iUser.id}}" (click)="SelectComboBuque()">
                {{ iUser.name}}
              </mat-option>
            </ng-template>
          </mat-select>
        </mat-form-field>

      </ng-template>

      <mat-form-field>
        <mat-label>{{'START_DATE' | translateMessage:translateCategory}}</mat-label>
        <input matInput [matDatepicker]="picker3" [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3 startView="year"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'END_DATE' | translateMessage:translateCategory}}</mat-label>
        <input matInput [matDatepicker]="picker4" [(ngModel)]="endDate" (keyup.enter)="GenerateReporteByDate()">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4 startView="year"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{'VOYAGE' | translateMessage:translateCategory}}</mat-label>
        <mat-select [(ngModel)]="selectVoyage">
          <ng-template ngFor let-iTravel [ngForOf]="getVoyages" let-i="index">
            <mat-option value="{{iTravel.id}}" (click)="SelectComboTravel()">
              {{ "V" + iTravel.id +" (" + iTravel.departure +" )" }}
            </mat-option>
          </ng-template>

        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'ACTIVITY_PERFORMED' | translateMessage:translateCategory}}</mat-label>
        <mat-select [formControl]="activityPerformed" multiple>
          <mat-select-trigger>
            {{activityPerformed.value ? activityPerformed.value[0] : ''}}
            <span *ngIf="activityPerformed.value?.length > 1" class="span-select">
              (+{{activityPerformed.value.length - 1}}
              {{activityPerformed.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let activity of activityPerformedList" [value]="activity" (click)="FilterActivity()">
            {{ activity | translateMessage:translateCategory}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button type="button" id="btn_clear" class="btn btn-outline-primary mg-b-30"
        (click)="ClearFilter()">{{ 'CLEAR' | translateMessage:translateCategory}}</button>

      <div class="row" style="opacity: 0;">
        <!--               <div class="col-6">
            <h6 class="font-small-3"><span>ROB IFO :</span>{{MathRoundOneDecimal(robIfoCurrent,2)}}</h6>
          </div>
          <div class="col-6">
            <h6 class="font-small-3">
              <span>ROB MGO :</span>{{MathRoundOneDecimal(robMgoCurrent,2)}}</h6>
          </div>
           -->
        <div class="col-6">
          <h6 class="font-small-3">
            <span>Day :</span>{{cantDiasDashboard}}
          </h6>
        </div>
      </div>


      <br><br>
      <div class="row">
        <div id="buttom_Excel" (click)="exportExcel()" class="pr-3 pb-3">
          <span class="transgas-file-excel"></span>
        </div>


        <a href="#" id="buttom_pdf" data-toggle="modal" data-target="#exampleModal" (click)="exportPdf()"
          class="pr-3 pb-3">
          <span class="transgas-document-file-pdf"></span>
        </a>


        <a href="#" id="buttom_DisplayView" data-toggle="modal" data-target="#modalDisplayView"
          (click)="SelectionmodalDisplayView()" class="pr-3 pb-3">
          <span class="transgas-2000-eye"></span>
        </a>
      </div>


    </div><!-- card -->
  </div>

</div>

<div class="component-fixed-bottom fixed-bottom text-right pb-2 pr-2">
  <button (click)="viewFilter(true)" class="outline-none" mat-mini-fab color="primary"
    aria-label="Example icon button with a bookmark icon">
    <mat-icon class="icon-filter"></mat-icon>
  </button>
</div>

<div class="body-full-container" style="background: rosybrown;">

  <div
    class="row no-gutters pt-2 pt-ms-3 pt-md-3 pt-lg-3  pr-2 pr-ms-3 pr-md-3 pr-lg-3 pb-0 pb-ms-0 pb-md-0 pb-lg-0  pl-2 pl-ms-3 pl-md-3 pl-lg-3"
    style="background: red;">


    <div class="col-12 col-md-10 row no-gutters" style="background: blue;">

      <div
        [className]="!selectUser.isDisplayLSFOConsumption ? 'd-none' : 'col-12 col-lg-6 pt-0 pl-0 pr-0 pb-2 pr-ms-0 pr-md-2 pr-lg-2' ">
        <div class="card card-body p-2 background-content-linea" id="picture1">
          <canvas id="lineIFO"></canvas>
        </div><!-- card -->
      </div><!-- col -->


      <div
        [className]="!selectUser.isDisplayMGOConsumption ? 'd-none' : 'col-12 col-lg-6 pt-0 pl-0 pr-0 pb-2 pr-ms-0 pr-md-2 pr-lg-2' ">

        <div class="card card-body p-2 background-content-linea" id="picture2">
          <canvas id="lineMGO"></canvas>
        </div><!-- card -->
      </div>


      <div
        [className]="!selectUser.isDisplayAverageSpeed ? 'd-none' : 'col-12 col-lg-6 pt-0 pl-0 pr-0 pb-2 pr-ms-0 pr-md-2 pr-lg-2'">
        <div class="card card-body p-2 background-content-linea" id="picture3">

          <canvas id="lineSPEED"></canvas>

        </div><!-- card -->
      </div>


    </div>



    <div class="no-gutters
    col-2
    d-none d-sm-none d-md-block">
      <div class="row no-gutters mb-2">
        <div class="card card-body">
          <h6 class="card-title tx-14 mb-3">
            {{ 'Legend' | translateMessage:translateCategory }}
          </h6>
          <div class="row">
            <div class="col-6">
              <span class="cudrado-red"><i></i></span> <label class="">Max</label>
            </div>
            <div class="col-6">
              <span class="cudrado-green"><i></i></span> <label class="">Min</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters mb-2">
        <div class="card card-body">

          <ng-template [ngIf]="roleUser == 'ADMIN' || roleUser == 'SUPPORT' ">

            <mat-form-field>
              <mat-label>{{'BUQUE' | translateMessage:translateCategory}}</mat-label>
              <mat-select [(ngModel)]="selectUserId">
                <ng-template ngFor let-iUser [ngForOf]="getUsers" let-i="index">
                  <mat-option [value]="iUser.id" (click)="SelectComboBuque()">
                    {{ iUser.name}}
                  </mat-option>
                </ng-template>
              </mat-select>
            </mat-form-field>

          </ng-template>

          <mat-form-field>
            <mat-label>{{'START_DATE' | translateMessage:translateCategory}}</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year"></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'END_DATE' | translateMessage:translateCategory}}</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" (keyup.enter)="GenerateReporteByDate()">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 startView="year"></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'VOYAGE' | translateMessage:translateCategory}}</mat-label>
            <mat-select [(ngModel)]="selectVoyage">
              <ng-template ngFor let-iTravel [ngForOf]="getVoyages" let-i="index">
                <mat-option value="{{iTravel.id}}" (click)="SelectComboTravel()">
                  {{ "V" + iTravel.id +" (" + iTravel.departure +" )" }}
                </mat-option>
              </ng-template>

            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{ 'ACTIVITY_PERFORMED' | translateMessage:translateCategory}}</mat-label>
            <mat-select [formControl]="activityPerformed" multiple>
              <mat-select-trigger>
                {{activityPerformed.value ? activityPerformed.value[0] : ''}}
                <span *ngIf="activityPerformed.value?.length > 1" class="span-select">
                  (+{{activityPerformed.value.length - 1}}
                  {{activityPerformed.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let activity of activityPerformedList" [value]="activity" (click)="FilterActivity()">
                {{ activity | translateMessage:translateCategory}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button type="button" id="btn_clear" class="btn btn-outline-primary mg-b-30"
            (click)="ClearFilter()">{{ 'CLEAR' | translateMessage:translateCategory}}</button>

          <div class="row" style="opacity: 0;">
            <!--               <div class="col-6">
            <h6 class="font-small-3"><span>ROB IFO :</span>{{MathRoundOneDecimal(robIfoCurrent,2)}}</h6>
          </div>
          <div class="col-6">
            <h6 class="font-small-3">
              <span>ROB MGO :</span>{{MathRoundOneDecimal(robMgoCurrent,2)}}</h6>
          </div>
           -->
            <div class="col-6">
              <h6 class="font-small-3">
                <span>Day :</span>{{cantDiasDashboard}}
              </h6>
            </div>
          </div>


          <br><br>
          <div class="row">

            <div id="buttom_Excel" (click)="exportExcel()" class="pr-3 pb-3">
              <span class="transgas-file-excel"></span>
            </div>



            <a href="#" id="buttom_DisplayView" data-toggle="modal" data-target="#modalDisplayView"
              (click)="SelectionmodalDisplayView()" class="pr-3 pb-3">
              <span class="transgas-2000-eye"></span>
            </a>
          </div>


        </div><!-- card -->
      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalDisplayView" tabindex="-1" role="dialog" aria-labelledby="modalDisplayViewLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDisplayViewLabel">
          DISPLAY DASHBOARD</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>Select the charts you want to include in the dashboard:</p>



        <br>
        <mat-checkbox [(ngModel)]="selectUser.isDisplayLSFOConsumption" class="pl-2" [disabled]='disableEdit'>
          LSFO
          CONSUMPTION
        </mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="selectUser.isDisplayMGOConsumption" class="pl-2" [disabled]='disableEdit'> MGO
          CONSUMPTION
        </mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="selectUser.isDisplayAverageSpeed" class="pl-2" [disabled]='disableEdit'>
          AVERAGE
          SPEED
        </mat-checkbox>

        <br>
        <mat-checkbox [(ngModel)]="selectUser.isDisplayDataMGO" class="pl-2" [disabled]='disableEdit'> DATA MGO
        </mat-checkbox>
        <br>

        <mat-checkbox [(ngModel)]="selectUser.isDisplayDataLSFO" [disabled]='disableEdit' class="pl-2"> DATA
          LSFO
        </mat-checkbox>

        <br>
        <mat-checkbox [(ngModel)]="selectUser.isDisplayVesselPerformanceLSFO" class="pl-2" [disabled]='disableEdit'>
          VESSEL PERFORMANCE LSFO
        </mat-checkbox>
        <br>
        <mat-checkbox [(ngModel)]="selectUser.isDisplayVesselPerformanceMGO" class="pl-2" [disabled]='disableEdit'>
          VESSEL PERFORMANCE MGO
        </mat-checkbox>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>

</div>
