.tamanio-dialog{
  width: 900px;
}


.blue-1 {
  background: #c2e2fc;
}

.tableFixHead {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 400px;
  
  thead {
    tr {
      // Elemento de titulo del table
      th {
        position: sticky;
        top: 0;
        background: #002171;
        color: #ffffff;
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      td {
        text-align: center;
        cursor: pointer;
        animation: all 0.5s;
        transition: all 0.5s;
      }

      &:hover {
        td {
          background: rgba(184, 209, 255, 0.2);

          &.color-red {
            // color: red !important;
            background: rgb(253, 103, 103);
          }
        }
      }
    }
  }

  .border {
    border-color: #155af5 !important;
  }
}
